<div class="conocenos-wrapper">
  <div class="content">
    <div class="header-section">
      <div class="logo-container">
        <img src="assets/images/MoodyAppLogo.png" alt="MoodyApp Logo" class="logo">
      </div>
      <h1 class="title">Conócenos</h1>
    </div>

    <div class="team-section">
      <div class="team-header">
        <h2>Integrantes Grupo</h2>
      </div>

      <div class="members-list">
        <div class="team-card">
          <div class="team-names">
            <h3>Leyrani Nailea Alvarado Mora</h3>
            <h3>Kattia Isabel Chavarria Azofeifa</h3>
            <h3>Randall Leonardo Rodriguez Vargas</h3>
            <h3>Jelber Rolando Torrez Palacios</h3>
            <h3>Maria Elena Ruiz Lopez</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="thanks-section">
      <div class="thanks-content" >
        <h2>¡Gracias por preferirnos!</h2>
        <p>Esperamos que MoodyApp sea una herramienta útil para mejorar tu bienestar emocional.</p>
      </div>
    </div>
  </div>
</div>
