<div class="places-wrapper">
  <div class="logo-container">
    <img src="assets/images/MoodyLogo.png" alt="Moody" class="logo"/>
  </div>

  <div class="title-container">
    <h1 class="title">LUGARES</h1>
    <h2 class="selected-emotion" *ngIf="selectedEmotion">{{selectedEmotion}}</h2>
  </div>

  <div class="emotions-selector">
    <div *ngFor="let emotion of emotions" 
         class="emotion-circle"
         [ngStyle]="{'background-color': emotion.color}"
         (click)="selectEmotion(emotion.name)">
      <img [src]="'assets/icons/' + emotion.name.toLowerCase() + '.svg'" 
           [alt]="emotion.name"/>
    </div>
  </div>

  <div class="places-container">
    <div class="places-content">
      <p class="no-places-message" *ngIf="!selectedEmotion">
        Selecciona una emoción para ver lugares específicos
      </p>

      <div class="place-card" *ngFor="let place of currentPlaces">
        <div class="place-header">
          <h3>{{ place.name }}</h3>
          <p class="description">{{ place.description }}</p>
          <div class="separator"></div>
        </div>
        
        <div class="place-info">
          <div class="contact-info">
            <div class="contact-item">
              <img src="assets/icons/location.svg" alt="Ubicación"/>
              <span>{{ place.location }}</span>
            </div>
            <div class="contact-item" *ngIf="place.contact">
              <img src="assets/icons/phone.svg" alt="Teléfono"/>
              <span>{{ place.contact }}</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedPlace" class="highlighted-place-card">
        <div class="highlighted-header">
          <img [src]="getEmotionFacePath(selectedEmotion ? selectedEmotion : getEmotionForPlace(selectedPlace))" 
               alt="Carita" class="highlighted-face" />
          <div class="highlighted-info">
            <h3>{{ selectedPlace.name }}</h3>
            <p class="description">{{ selectedPlace.description }}</p>
            <div class="contact-info">
              <div class="contact-item">
                <img src="assets/icons/location.svg" alt="Ubicación" />
                <span>{{ selectedPlace.location }}</span>
              </div>
              <div class="contact-item" *ngIf="selectedPlace.contact">
                <img src="assets/icons/phone.svg" alt="Teléfono" />
                <span>{{ selectedPlace.contact }}</span>
              </div>
              <ng-container *ngIf="selectedPlace.links">
                <div class="contact-item" *ngFor="let link of selectedPlace.links">
                  <img src="assets/icons/link.svg" alt="Enlace" />
                  <a [href]="link.url" target="_blank">{{ link.type }}</a>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <button class="close-btn" (click)="selectedPlace = null">×</button>
      </div>

      <div class="map-container">
        <svg class="map-svg" viewBox="0 0 764.4043 695.8172" xmlns="http://www.w3.org/2000/svg">
          <image href="assets/images/mapa_CR.svg" x="0" y="0" width="764.4043" height="695.8172" />
          <!-- Caritas overlay -->
          <ng-container *ngFor="let cluster of getClusteredPlaces()">
            <ng-container *ngFor="let place of cluster.places; let i = index">
              <ng-container *ngIf="place.latitude && place.longitude">
                <image 
                  [attr.x]="placeToSvgX(place) - 32 + getClusterOffset(cluster, i).x"
                  [attr.y]="placeToSvgY(place) - 32 + getClusterOffset(cluster, i).y"
                  width="64" height="64"
                  [attr.href]="getEmotionFacePath(selectedEmotion ? selectedEmotion : getEmotionForPlace(place))"
                  class="map-face-icon {{getClusterOffsetClass(i)}}" style="border-radius: 50%; box-shadow: 0 2px 12px rgba(0,0,0,0.18); background: white;"
                  [attr.alt]="place.name" />
              </ng-container>
            </ng-container>
          </ng-container>
        </svg>
      </div>
    </div>
  </div>
</div>